html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: green;
}
#container {
    width: inherit;
    height: inherit;
    margin: 0;
    padding: 0;
    background-color: pink;
    overflow: hidden;
}
h1 {
    margin: 0;
    padding: 0;
}

img {
    height: 99%;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {

    .navbar {
        position: absolute !important;
        width: 100% !important;
    }

    #logo-image {
        width: 15vw;
    }

    

    html {
      transform: rotate(-90deg);
      transform-origin: left top;
      width: 100vw;
      height: 100vh;
      overflow: hidden;      
      position: absolute;
      top: 100%;
      left: 0;
    }
/**/
    img {
        height: 100%;
        width: auto;/**/
    }
   
}