html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /*background-color: green;*/
    font-family: 'Cormorant Infant', serif;
}
#container {
    width: inherit;
    height: inherit;
    margin: 0;
    padding: 0;
    /*background-color: pink;*/
    overflow: hidden;
}

/*Navbar position on top at all times*/

.navbar{
    position:absolute;
    width:100%;
    z-index:10;
    max-width:100%;
}

/*navbar logo sizing*/

#logo-image {
    max-height: 14vh;     
}

/*offcanvas logo sizing*/

#monogram-logo-image {
    width: 50%;
    margin: auto;
    background-color: white;
}

/*navbar font size*/

.nav-item {
    font-size: 1.4rem !important;
}

.offcanvas {
    width: 300px !important;
}

/*navbar font*/

#navbarId {
    font-family: 'Cormorant Infant', serif;
}

/*sizing and positioning navbar toggler and logo*/

#toggler {
    margin-right: 2.5rem;
}

#toggler, #logo-image {
    background: rgba(255,255,255,0.7);
    padding: 1rem;
}





/*make every container inherit the dimensions of its parent*/

.carousel-fade, .carousel-inner, .carousel-item {
    width: inherit;
    height: inherit;
}

/*make the carousel item fill the carousel-item container */

.carousel-item img {
    width: 100%;
    height: auto;
}

h1 {
    margin: 0;
    padding: 0;
}

img {
    height: 99%;
    margin: 0;
    padding: 0;
}



/*Pop up box styling*/

.btn {
    background-color: black;
    color: white;
    border: none;
}

.btn:hover {
    background-color: #A9A9A9;
}

#enter-link {
    text-decoration: none;
    color: #707070;
}

/*waiting time pop up box*/

/*to temporarily remove opening pop up box, decomment below code*/
/*Makes the pop up box appear */
#myModal {
    display: none !important;
}

.modal-header {
    border-bottom: rgba(1,1,1,0);
}

.modal-body {
    font-family: 'Cormorant Infant', serif;
    text-align: center;
    font-size: 1.3rem;
}

.modal-backdrop {
    opacity: 0.25 !important;
    width: inherit;
    height: inherit;
}

#modal-logo-container {
    width: 100px;
}


@media (max-device-width: 250px) {
    .landing-navbar .container-fluid {
        flex-direction: column-reverse;
        align-items: end;
    }

    .landing-navbar .navbar-brand {
        margin-right: 0%;
    }

    .landing-navbar .navbar-toggler {
        margin-right: 0% !important;
    }

    
}

@media (max-device-width: 300px){
    .landing-navbar .navbar-toggler-icon {
        width: 1em !important;
        height: 1em !important;
    }
}

@media (min-device-width: 250px) and (max-device-width: 768px) {
    .landing-navbar .navbar-brand {
        width: 60vw !important;
    }

    .landing-navbar .container-fluid {
        width: 95% !important;
    }

    .landing-navbar #logo-image {
        max-width: 100% !important;
    }

    .landing-navbar .navbar-toggler {
        padding: 3vw !important;
        margin-right: 0% !important;
    }

    
}

/*enter website modal*/

#enter-website-modal .modal-footer {
    border-top: rgba(1,1,1,0);
}
/*and (orientation: portrait)*/
@media screen  and (max-width: 866px)  {

    .carouel-item {
        height: 100vh;
    }
    .carousel-item img {
        height: 100% !important;
        width: auto !important;
    }

    /*modal positioning and sizing*//*
    .modal {
        padding-right: 0% !important;
        }


    .modal-content {
        max-width: 40vh !important;
    }
    
    .modal-dialog-centered {
        justify-content: center;
    }

    .modal-body {
        font-size: 1rem;
    }
    /*navbar and logo positioning and sizing*//*
    .navbar {
        position: absolute !important;
        width: 100% !important;
    }

    #logo-image {
        width: 15vw;
    }
  

    html {
      transform: rotate(-90deg);
      transform-origin: left top;
      width: 100vh;
      
      height: 100vw;
      overflow: hidden;      
      position: absolute;
      top: 100%;
      left: 0;
    }

    .carousel-item img {
        height: 100% !important;
        width: auto !important;
    }
    .carousel-inner {
        width: 100% !important;
        height: 100% !important;
        position: absolute !important;
        overflow: hidden !important;
    }

    */
   
}

/*previously 390*/
/*
@media screen and (max-device-width: 500px) and (orientation: portrait) {
    .carousel-item img {
        height: auto !important;
        width: 100% !important;
    }

}

@media screen and (min-width: 571px) and (max-width: 856px) and (orientation: landscape) {
    .carousel-item img {
        height: 100% !important;
        width: auto !important;
    }
}
*/
@media screen  and (min-width: 767px)  {
    /*
    #toggler, #logo-image {
        padding: 1.5rem;
        }
        #toggler {
        margin-right: 4rem;
        }
        
        .navbar-toggler-icon {
        width: 2.25em;
        height: 2.25em;
        }
      */  
}
