/*font for whole page, whole site*/

body {
    /*font-family: 'Roboto Slab', serif;
    font-family: 'Noto Serif Display', serif;*/
    font-family: 'Cormorant Infant', serif;
    
}

/*Navbar configuration*/
/*added*/

#toggler {
    margin-top: 0.5rem !important; 
    padding: 1rem !important;
}

/*added ends*/

#logo-image {
    max-height: 14vh;
    background-color: white;
    
    
}

#monogram-logo-image {
    width: 50%;
    margin: auto;
    background-color: white;
}

#navbarId {
    background-color: white;
    
}

.nav-item {
    font-size: 1.4rem;
}

/*Width of off-canvas navbar*/

.offcanvas {
    width: 300px !important;
}





/*headline*/
/*
.text-box {
    margin-top: 3%;
}
*/
h1 {
    font-size: 3rem;
}

p 
  {  font-size: 1.3rem;
    margin: 4%;
}

/*bulleted list about-us page*/

#list-of-services li {
    font-size: 1.3rem !important;
}

#privacy {
    width: 100%;
}

#privacy p {
    margin-left: 0% !important;
}

#address p {
    margin-left: 0%;
}

/*contact details text*/

#contact-details p, #contact-details h2  {
    margin-left: 0% !important;
    
}

#contact-details .img-fluid {
    margin-top: 0% !important;
}

.google-map {

}

/*How images are arranged main content*/

.img-fluid {
    margin-top: 5%;
    justify-content: center;
    border-radius: 5%;
}

.col-md-4 {
    justify-content: center;
}

.container-fluid, .row {
    justify-content: center;
}

.container-fluid {
    margin: auto;
}

/*Footer*/

.fa-brands {
    padding: 10px 7px 7px;
    font-size: 30px;
    width: 50px;
    height: 50px;
   /* margin: 5px;*/
    margin-left: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background-color: black;
    color: white;
  }


  #footer {
    margin-top: 2%;
    border-top: 1px solid black;
    background-color: white;
    
  }
  
  #footer li,  #footer p {
    font-size: 1.3rem;
  }

  @media screen  and (min-width: 250px)  {
    #privacy {
        width: 80%;
    }

  }
  