/*font for whole page, whole site*/

body {
    /*font-family: 'Roboto Slab', serif;
    font-family: 'Noto Serif Display', serif;*/
    font-family: 'Cormorant Infant', serif;
    
}

/*Navbar configuration*/
/*added*/

#toggler {
    /*margin-top: 0.5rem !important; 
    padding: 1rem !important;*/
    margin-top: 0.5rem; 
    padding: 1rem;
}

/*added ends*/

#logo-image {
    max-height: 14vh;
    background-color: white;
    
    
}

#monogram-logo-image {
    width: 50%;
    margin: auto;
    background-color: white;
}

#navbarId {
    background-color: white;
    
}

.nav-item {
    font-size: 1.4rem;
}

/*Width of off-canvas navbar*/

.offcanvas {
    width: 300px !important;
}





/*headline*/
/*
.text-box {
    margin-top: 3%;
}
*/
h1 {
    font-size: 3rem;
}

p 
  {  font-size: 1.3rem;
    margin: 4%;
}

/*bulleted list about-us page*/

#list-of-services li {
    font-size: 1.3rem !important;
}

#privacy {
    width: 100%;
}

#privacy p {
    margin-left: 0% !important;
}

#address p {
    margin-left: 0%;
}

/*contact details text*/

#waiting-time {
    background-color: #f2f2f2;
    /*display: none;*/
}

#contact-details p, #contact-details h2  {
    margin-left: 0% !important;
    
}

#contact-details .img-fluid {
    margin-top: 0% !important;
}

.google-map {

}

/*How images are arranged main content*/

.img-fluid {
    margin-top: 5%;
    justify-content: center;
    border-radius: 5%;
}

.col-md-4 {
    justify-content: center;
}

.container-fluid, .row {
    justify-content: center;
}

.container-fluid {
    margin: auto;
}

/*Footer*/

.fa-brands {
    padding: 10px 7px 7px;
    font-size: 30px;
    width: 50px;
    height: 50px;
   /* margin: 5px;*/
    margin-left: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background-color: black;
    color: white;
  }


  #footer {
    margin-top: 2%;
    border-top: 1px solid black;
    background-color: white;
    
  }
  
  #footer li,  #footer p {
    font-size: 1.3rem;
  }

  
  @media (max-device-width: 250px) {
    .navbar .container-fluid {
        flex-direction: column-reverse;
        align-items: end !important;
        margin: 0% !important;
        padding: 0% !important;
    }

    .navbar-brand {
        margin-right: 0%;
    }

    #logo-image {
        max-width: 80vw !important;
        height: auto;
        margin-left: 5% !important;
    }
}

@media (min-device-width: 250px) and (max-device-width: 768px) {

    .navbar {
        padding: 0% !important;
        margin: 0% !important;
        /*argin-top: 5% !important;*/
    }
    .navbar-brand {
        /*width: 60vw !important;*/
    }

    #logo-image {
        max-height: 25vw !important;
        margin-left: 5% !important;
    }

    .navbar-toggler {
        padding: 4vw !important;
        margin-right: 3% !important;
        margin-top: 3% !important;
    }
/*
    .navbar-toggler-icon {
        width: 0.75em !important;
        height: 0.75em !important;
    }*/
}

@media (max-device-width: 768px) {
    .navbar {
        margin-top: 5% !important;
    }
  }

  @media (min-width: 250px)  {
    #privacy {
        width: 80%;
    }

  }
  